#cart-container  table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
#cart-container  table thead {
  font-weight: 700;
}
#cart-container  table thead {
  background-color: rgb(245, 95, 20);
  color:white;
  border:none;
  padding:6px 0px;
}
#cart-container  table td{
  border: 1px solid #b6b3b3;
  text-align: center;
}
#cart-container  table td:nth-child(1){
  width: 100px;
}
#cart-container  table td:nth-child(2){
  width: 200px;
}
#cart-container  table td:nth-child(3){
  width: 200px;
}
#cart-container  table td:nth-child(4){
  width: 200px;
}
#cart-container  table td:nth-child(5){
  width: 200px;
}
#cart-container  table td:nth-child(6){
  width: 200px;
}
#cart-container  table td:nth-child(7){
  width: 200px;
}
.but button:hover{
  background: rgb(0,36,26);
  background: linear-gradient(90deg, rgba(0,36,26,1) 0%, rgba(18,255,0,1) 0%, rgba(39,228,28,1) 0%, rgba(39,228,28,1) 0%, rgba(39,228,28,1) 0%, rgba(39,228,28,1) 90%, rgba(39,228,28,1) 98%, rgba(39,228,28,1) 99%);
}
#cart-bottom .total>div{
  border: 1px solid #b6b3b3;
}
#cart-bottom .total h5{
  background: #fd8c66;
  color: #fff;
  border:none;
  padding: 6px 12px;
  font-weight: 700;
}
#cart-bottom .total div>div{
  padding: 0 12px;
}
#cart-bottom .total h6{
  color:#2a2a2a
}
#cart-bottom .total div>button{
  margin: 0 12px 20px 0;
  display: flex;
  justify-content: flex-end;
}
.one{
  font-size: 20px;
}
.two{
  font-size: 20px;
}
.ml-auto:hover{
  background: rgb(0,36,26);
  background: linear-gradient(90deg, rgba(0,36,26,1) 0%, rgba(18,255,0,1) 0%, rgba(39,228,28,1) 0%, rgba(39,228,28,1) 0%, rgba(39,228,28,1) 
  0%, rgba(39,228,28,1) 90%, rgba(39,228,28,1) 98%, rgba(39,228,28,1) 99%  );
}
